.App {
  text-align: center;
}

.App-logo.true {
  animation: App-logo-spin infinite 50s linear;
  height: 180px;
}

.App-logo.false {
  animation: App-logo-spin infinite 5s linear;
  height: 180px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h2 {
  margin-top: 150px;
  background-color: rgba(240,240,240,0.8)
}